<html>
  <head>
    <title>Your Data Upload Was Unsuccessfuly</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style></style>
  </head>
  <body>
    <p>Hello <%= @user.name %>,</p>
    
    <p>
     An error occured and your dataset could not be uploaded. 
     Please try again. If problems persist, please contact the 
     administrator.
    </p>
    
    <h3>Addtional Error Information</h3>
    <p><%= @error_message %></p>
  </body>
</html>