<html>
  <head>
    <title>Your Blast Was Successful</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style></style>
  </head>
  <body>
    <p>Hello, <%= @user.name %>,</p>
    <p>
      You blast was succesful. The zipped blast results are attached to 
      this email.
    </p>
    
    <p>
      If you are a windows user you can use 
      <a href="http://www.7-zip.org/">7zip</a> to unzip it. For Linux, you 
      can use gunzip to unzip it. For Mac OS X, you should be able to open it 
      without having to install anything. For more information on unzipping gz 
      files see: <a href="http://www.wikihow.com/Extract-a-Gz-File">
      http://www.wikihow.com/Extract-a-Gz-File</a>.
    </p>
    <%= render 'blast_settings' %>
</html>