<html>
  <head>
    <title>Your Data Upload Was Successful</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style></style>
  </head>
  <body>
    <p>Hello, <%= @user.name %>,</p>
    <p>
      You blast was succesfully. The zipped blast results are attached to 
      this email. If you are a windows user you can use 
      <a href="http://www.7-zip.org/">7zip</a> to unzip it. For Linux, you 
      can use gunzip to unzip it. For Mac OS X, 
    </p>
    <%= render 'blast_settings' %>
</html>