<html>
  <head>
    <title>Your Data Upload Was Successful</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style></style>
  </head>
  <body>
    <p>Hello,</p>
    
<!--    <div>Number of GO Terms = <%= @go_terms_count %></div>-->
  </body>
</html>
