<h1>ReferenceNovelIsoformsOnlyWorkflow#cuffcompare_complete</h1>
<p>Find me in app/views/reference_novel_isoforms_only_workflow/cuffcompare_complete.html.erb</p>
<%= link_to "Next Step", @next_step_url %>