<h1>ReferenceNovelIsoformsOnlyWorkflow#in_progress</h1>
<p>Find me in app/views/reference_novel_isoforms_only_workflow/in_progress.html.erb</p>
<p><%= @current_program_display_name %> is currently running </p>
<% @samples.each do |s| %>
    <p>Sample <%= s.sample_id %> is <%= s.status.gsub!("_"," ") %>.</p>
<% end %>
<!--<%= javascript_tag do -%>
    setTimeout("location.reload(true);",5000);
<% end -%>-->

