<html>
  <head>
    <title>Confirm or Delete User <%= @user.id %> (<%= @user.name %>)</title>
    <meta content="">
    <style></style>
  </head>
  <body>
    <h1>Confirm or Delete User <%= @user.id %> (<%= @user.name %>)</h1>
    <div id="confirm_user" class="sub-section rounded-corners">
      Confirm User
    </div>
    <div id="delete_user" class="sub-section rounded-corners">
      Delete User
    </div>
  </body>
</html>