<h1>Confirmed Users</h1>
<table style="margin-left:auto;margin-right:auto">
  <thead>
    <tr>
      <th>Name</th><th>Email</th><th>Creation Date</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @confirmed_users.each do |user| %>
      <tr class="rounded-corners sub-section">
        <td class="rounded-corners"><%= user.name %></td>
        <td class="rounded-corners"><%= user.email %></td>
        <td class="rounded-corners">
          <%= user.created_at.strftime("%m/%d/%Y at %I:%M %p") %>
        </td>
        <td class="rounded-corners">
          <%= user.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
