<h1>Unconfirmed Users</h1>
<table style="margin-left:auto;margin-right:auto">
  <thead>
    <tr>
      <th>Name</th><th>Email</th><th>Confirm</th><th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @unconfirmed_users.each do |user| %>
      <tr class="rounded-corners sub-section">
        <td class="rounded-corners"><%= user.name %></td>
        <td class="rounded-corners"><%= user.email %></td>
        <td class="rounded-corners">
          <%= link_to('Go To Confirm User Page',
            "/admin/confirm_user?user_id=#{user.id}") %>
        </td>
        <td class="rounded-corners">
          <%= link_to('Go To Delete User Page',
            "/admin/delete_unconfirmed_user?user_id=#{user.id}") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
