<div style="float:right;vertical-align:top">
    goat<br/>
    goat<br/>
    goat<br/>
</div>
<h1>ProcessingAnalysis#reference_analysis</h1>
<p>Find me in app/views/processing_analysis/reference_analysis.html.erb</p>
<%= label(:configure_all_at_once, "Configure all settings at once?") %>