<h1>ProcessingAnalysis#reference_analysis</h1>
<p>Find me in app/views/processing_analysis/reference_analysis.html.erb</p>
<%= check_box_tag(:configure_all_at_once, :onclick="show_config_for_all_steps();") %>
<%= label(:configure_all_at_once, "Configure all settings at once?") %>
