<h1>Home#welcome</h1>
<p>Find me in app/views/home/welcome.html.erb</p>

<h2>Welcome to the RNA-Seq Analysis pipeline.</h2>
<!--Process reads from Illumina, 454, Sanger, or some other sequencing technology.
Upload already-processed differential expression data.
Upload already-processed novel isoform data.
Upload already-processed transcripts.
Upload all three things.
Query previously-uploaded differential expression data.
Query previously-uploaded novel isoform data.
Blast against previously-uploaded transcripts.-->
<p>The RNA-Seq Analysis Pipeline provides a place to store and query the results 
from rna-seq processsing. Additionally, it provides facilities to do the rna-seq 
processing itself and then store the ressults for querying.</p>
<p>One can query both differential expression data and novel isoform data and 
also BLAST against transcript sequences.</p>
<p>For simplicity and ease of use, the processing analysis portion of this pipeline 
have provide many of the advanded configuration options available in these programs. 
If you would like to do more advanced configuration, try downloading these proggrams 
onto your own machine or using <a href="https://main.g2.bx.psu.edu/">Galaxy</a>.</p>
<h5>Please select one of the options in the above to get menu et started</h5>
