<h1>Welcome to the Queryable RNA-Seq Database.</h1>
<div style="text-align:center">
  <div class="big_block">
    <br/><br/>
    <a href="#">Step 1: See If The Queryable RNA-Seq Database Right For You</a>
  </div>
  <div class="big_block">
    <br/><br/>
    <a href="#">Step 2: Request An Account</a>
  </div>
  <div class="big_block">
    <br/><br/>
    <a href="#">Step 3: Generate RNA-Seq Data (Outside The Program)</a>
  </div>
  <div class="big_block">
    <br/><br/>
    <a href="#">Step 4: Upload Your Data</a>
  </div>
  <div class="big_block">
    <br/><br/>
    <a href="#">Step 5: Query/Blast Your Data</a>
  </div>
</div>

<p>Formally known as the Queryable RNA-Seq Database, this system is designed to simplify the process of RNA-seq analysis by providing the ability upload the result data from RNA-Seq analysis into a database, store it, and query it in many different ways.</p>

<p>
The learn more about the Queryable RNA-Seq Database and what it can do, 
see the 
<a href="https://github.com/fatPerlHacker/queryable-rna-seq-database/wiki/About-the-Queryable-RNA-Seq-Database">About the Queryable RNA-Seq Database wiki page.</a>
</p>

