<h1>Welcome to the RNA-Seq Analysis pipeline.</h1>
<!--Process reads from Illumina, 454, Sanger, or some other sequencing technology.
Upload already-processed differential expression data.
Upload already-processed novel isoform data.
Upload already-processed transcripts.
Upload all three things.
Query previously-uploaded differential expression data.
Query previously-uploaded novel isoform data.
Blast against previously-uploaded transcripts.-->
<p>The RNA-Seq Analysis Pipeline provides a place to store and query the results 
from rna-seq processsing. Additionally, it provides facilities to do the rna-seq 
processing itself and then store the ressults for querying.</p>
<p>One can BLAST against transcript sequences and query both differential expression
data and novel isoform data.</p>
<p>For simplicity and ease of use, the processing analysis portion of this pipeline 
does not provide many of the advanded configuration options available in the full programs. 
If you would like to do more advanced configuration, try downloading these programs 
onto your own machine or using <a href="https://main.g2.bx.psu.edu/">Galaxy</a>.</p>
<br/>
<h3>Tools used in this pipeline</h3>
<ul>
    <li><a href="http://tophat.cbcb.umd.edu/">Tophat</a></li>
    <li><a href="http://cufflinks.cbcb.umd.edu/index.html">Cufflinks</a></li>
    <li><a href="http://trinityrnaseq.sourceforge.net/">Trinity</a></li>
    <li><a href="http://blast.ncbi.nlm.nih.gov/">Blast</a></li>
    <li><a href="http://www.blast2go.com/b2ghome">Blast2Go</a></li>
</ul>

