<tr class="header_row">
  <th data-sort='string'>
    <table>
      <tr>
        <td>Transcript</td>
        <td class="sort-arrow-td"></td>
      </tr>
    </table>
  </th>
  <th data-sort='string'>
    <table>
      <tr>
        <td>Associated Gene</td>
        <td class="sort-arrow-td"></td>
      </tr>
    </table>
  </th>
  <% if object.go_terms_status == 'found' %>
    <th>GO Terms</th>
  <% end %>
  <% if object.program_used == 'cuffdiff' %>
    <th data-sort='float'>
      <table>
        <tr>
          <td>Test Statistic</td>
          <td class="sort-arrow-td"></td>
        </tr>
      </table>
    </th>
  <% end %>
  <th data-sort='float'>
    <table>
      <tr>
        <td>P-Value</td>
        <td class="sort-arrow-td"></td>
      </tr>
    </table>
  </th>
  <th data-sort='float'>
    <table>
      <tr>
        <td>FDR</td>
        <td class="sort-arrow-td"></td>
      </tr>
    </table>
  </th>
  <th data-sort='float'>
    <table>
      <tr>
        <td><%= object.sample_1_name %> FPKM</td>
        <td class="sort-arrow-td"></td>
      </tr>
    </table>
  </th>
  <th data-sort='float'>
    <table>
      <tr>
        <td><%= object.sample_2_name %> FPKM</td>
        <td class="sort-arrow-td"></td>
      </tr>
    </table>
  </th>
  <th data-sort='float'>
    <table>
      <tr>
        <td>Log Fold Change</td>
        <td class="sort-arrow-td"></td>
      </tr>
    </table>
  </th>
  <% if object.program_used == 'cuffdiff' %>
    <th data-sort='string'>
      <table>
        <tr>
          <td>Test Status</td>
          <td class="sort-arrow-td"></td>
        </tr>
      </table>
    </th>
  <% end %>
</tr>
