<div id="sample_cmp_<%= @sample_cmp_count %>">
  Gene Differential Expression Samples Comparison <%= @sample_cmp_count %>:
  <!--<%= label('gene_diff_exp_files', 
            'Gene Differential Expression Tests') %>-->
  <%= file_field_tag('upload_trinity_with_edge_r[gene_diff_exp_files][]') %>
</div>
