<tr>
  <td style="text-align:center">
  <%= file_field_tag('upload_trinity_with_edge_r[gene_diff_exp_files][]') %></td>
  <td><%= text_field_tag('upload_trinity_with_edge_r[gene_diff_exp_sample_1_names][]') %></td>
  <td><%= text_field_tag('upload_trinity_with_edge_r[gene_diff_exp_sample_2_names][]') %></td>
</tr>
