<div id="sample_cmp_<%= @sample_cmp_count %>">
  Transcript Differential Expression Samples Comparison <%= @sample_cmp_count %>:
  <!--<%= label('transcript_diff_exp_files',
            'Transcript Differential Expression Tests') %>-->
  <%= file_field_tag('upload_trinity_with_edge_r[transcript_diff_exp_files][]') %>
</div>
