jQuery(document).ready(function($) {
  //Ensure that the fasta selection elements are in their correct state 
  //    of being enabled or disabled by running the change event
  fasta_input_radio_button_changed();
  //Bind the events for the fasta selection radio buttons.
  $('#blastn_query_use_fasta_sequence_or_file_use_fasta_sequence').change(fasta_input_radio_button_changed);
  $('#blastn_query_use_fasta_sequence_or_file_use_fasta_file').change(fasta_input_radio_button_changed);
  //Bind the event to update the gap costs drop down list 
  //    when match and mismatch scores drop down list changes
  $('#blastn_query_match_and_mismatch_scores').change(match_and_mismatch_scores_selection_changed);
});

/*
 * Enable/Disable certain elements based on whether 
 *      the user has selected the radio button for the fasta sequence
 *      or the fasta file.
 */
function fasta_input_radio_button_changed(){
  fasta_file_radio_button = 
    $('#blastn_query_use_fasta_sequence_or_file_use_fasta_file');
  fasta_sequence_radio_button = 
    $('#blastn_query_use_fasta_sequence_or_file_use_fasta_sequence');
  if (fasta_sequence_radio_button.is(':checked')){
    $('#blastn_query_fasta_sequence').removeAttr("disabled");
    $('#blastn_query_fasta_file').attr("disabled", "disabled");
  }
  else{
    $('#blastn_query_fasta_sequence').attr("disabled", "disabled");
    $('#blastn_query_fasta_file').removeAttr("disabled");
  }
}

/*
 * When the match and mismatch scores drop down list changes,
 *      launch an Ajax request to get the new gap costs to use 
 *      for updating the gap costs drop down list.
 */
function match_and_mismatch_scores_selection_changed(){
  match_and_mismatch_scores = $('#blastn_query_match_and_mismatch_scores').val();
  request_string = 'get_blastn_gap_costs_for_match_and_match_scores' +
                   '?match_and_mismatch_scores=' + match_and_mismatch_scores
  $.getJSON(request_string, replace_gap_costs);
}

/*
 * Update the gap costs drop down list when the 
 *      match and mismatch scores drop down list changes
 */
function replace_gap_costs(new_gap_costs){
  gap_costs_select = $('#blastn_query_gap_costs');
  gap_costs_select.html('');
  for (i = 0; i<new_gap_costs.length; i++){
    new_gap_cost = new_gap_costs[i];
    option_html = '<option value="' + new_gap_cost + '">' + new_gap_cost + '</option>';
    gap_costs_select.append(option_html);
  }     
}

function clear_sequence(){
    var fasta_text_area = document.getElementById("blast_query_fasta_sequence");
//         var subsequence_from = document.getElementById("subsequence_from");
//         var subsequence_to = document.getElementById("subsequence_to");
//         subsequence_from.value='';
//         subsequence_to.value='';
    fasta_text_area.value='';
    fasta_text_area.focus();
}