<h1>BLAST Querying</h1>
<p>
  The RNA-Seq Analysis Pipeline provides the ability to query using three different 
  blast programs: blastn, tblastn, and tblastx. Please select one below:
</p>
<ul>
  <li><%= link_to 'BLASTN', '/query_analysis/blastn' %></li>
  <li><%= link_to 'TBLASTN', '/query_analysis/tblastn' %></li>
  <li><%= link_to 'TBLASTX', '/query_analysis/tblastx' %></li>
</ul>
