<h1>Differential Expression Testing</h1>
<p>
  The RNA-Seq Analysis Pipeline provides the ability to query both gene and 
  transcript differential expression tests. Please select one of them from below:
</p>
<ul>
  <li>
    <%= link_to 'Transcript Differential Expression', 
                '/query_analysis/query_diff_exp_transcripts' %>
  </li>
  <li>
    <%= link_to 'Gene Differential Expression', 
                '/query_analysis/query_diff_exp_genes' %>
  </li>
</ul>
