<p>All of your relevant datasets have 
<a href="http://www.geneontology.org/GO.doc.shtml">Gene Ontology</a> 
(GO) terms or are in the process of finding them.</p>

<%= render 'datasets_in_progress_of_finding_go_terms', 
           :datasets_in_progress => @datasets_in_progress %>
