jQuery(document).ready(function($) {
  //Ensure that the fasta selection elements are in their correct state 
  //    of being enabled or disabled by running the change event 
  fasta_input_radio_button_changed();
  //Bind the events for the fasta selection radio buttons.
  $('#query_using_blastn_use_fasta_sequence_or_file_use_fasta_sequence').change(fasta_input_radio_button_changed);
  $('#query_using_blastn_use_fasta_sequence_or_file_use_fasta_file').change(fasta_input_radio_button_changed);
  //Bind the event to update the gap costs drop down list 
  //    when match and mismatch scores drop down list changes
  $('#query_using_blastn_matrix').change(matrix_selection_changed);
  //Create the text for the help qtips
  create_qtips();
});

/*
 * Enable/Disable certain elements based on whether 
 *      the user has selected the radio button for the fasta sequence
 *      or the fasta file.
 */
function fasta_input_radio_button_changed(){
  fasta_file_radio_button = 
    $('#query_using_blastn_use_fasta_sequence_or_file_use_fasta_file');
  fasta_sequence_radio_button = 
    $('#query_using_blastn_use_fasta_sequence_or_file_use_fasta_sequence');
  if (fasta_sequence_radio_button.is(':checked')){
    $('#query_using_blastn_fasta_sequence').removeAttr("disabled");
    $('#query_using_blastn_fasta_file').attr("disabled", "disabled");
  }
  else{
    $('#query_using_blastn_fasta_sequence').attr("disabled", "disabled");
    $('#query_using_blastn_fasta_file').removeAttr("disabled");
  }
}

/*
 * When the match and mismatch scores drop down list changes,
 *      launch an Ajax request to get the new gap costs to use 
 *      for updating the gap costs drop down list.
 */
function matrix_selection_changed(){
  matrix = $('#query_using_blastn_matrix').val();
  request_string = 'get_tblastn_gap_costs_for_matrix' +
                   '?matrix=' + matrix
  $.get(request_string, replace_gap_costs);
}

/*
 * Update the gap costs drop down list when the 
 *      match and mismatch scores drop down list changes
 */
function replace_gap_costs(new_gap_costs){
   $('#query_using_blastn_gap_costs').parent().html(new_gap_costs);
}

function create_qtips(){
  //Declare variables
  var elements = [];
  var titles = [];
  var texts = [];
  //Tooltip for the Blastn/Megablast title at the top of the page
  elements[0] = 'tblastn_qtip';
  titles[0] = 'Tblastn';
  href = 'http://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs&DOC_TYPE=ProgSelectionGuide#pstab';
  texts[0] = 'Tblastn searches a translated nucleotide database ' +
             'using a protein query. ' +
             '<a target="_blank" href="' + href + '">more...</a> ' +
             '[<a href="#reference_1">1</a>]';
  //Tooltip for Fasta input 
  elements[1] = 'fasta_sequence_qtip';
  titles[1] = 'Enter Amino Acid Sequences';
  href = 'http://en.wikipedia.org/wiki/FASTA_format';
  texts[1] = 'Enter or paste one or more amino acid sequences in ' +
             '<a target="_blank" href="' + href + '">Fasta format.</a> ' +
             '[<a href="#reference_1">1</a>]';
  //Tooltip for Dataset id
  elements[2] = 'dataset_id_qtip';
  titles[2] = 'Dataset';
  texts[2] = 'The translated nucleotide database to search using the ' +
             'protein query entered below.';
  //Tooltip for Number of Alignments to Show
  elements[3] = 'num_alignments_qtip';
  titles[3] = 'Number of Alignments to Show';
  texts[3] = '"Maximum number of aligned sequences to display ' +
             '(the actual number of alignments may be greater than this)". ' +
             '[<a href="#reference_1">1</a>]';
 //Tooltip for E-Value
  elements[4] = 'evalue_qtip';
  titles[4] = 'E-value';
  texts[4] = '"Expected number of chance matches in a random model." ' +
             '<a target="_blank" href="http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#expect">' +
             'more...</a> ' +
             '[<a href="#reference_1">1</a>]';
  //Tooltip for Word size
  elements[5] = 'word_size_qtip';
  titles[5] = 'Word size';
  href = 'http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#wordsize';
  texts[5] = '"The length of the seed that initiates an alignment." ' +
             '<a target="_blank" href="' + href + '">' +
             'more...</a> ' +
             '[<a href="#reference_1">1</a>]';
  //Tooltip for the matrix
  elements[6] = 'matrix_qtip';
  titles[6] = 'Matrix';
  href = 'http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#Matrix';
  texts[6] = '"Assigns a score for aligning pairs of residues, ' +
              'and determines overall alignment score." ' +
              '<a target="_blank" href="' + href +'">' +
              'more...</a> ' +
              '[<a href="#reference_1">1</a>]';
  //Tooltip for gap costs
  elements[7] = 'gap_costs_qtip';
  titles[7] = 'Gap Costs';
  href = 'http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#Matrix';
  texts[7] = '"Cost to create and extend a gap in an alignment." ' +
             '<a target="_blank" href="' + href +'">' +
             'more...</a> ' +
             '[<a href="#reference_1">1</a>]';
  //Tooltip for compositional adjustment
  elements[8] = 'compositional_adjustment_qtip';
  titles[8] = 'Compositional Adjustment';
  href = 'http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#compositional_adjustments';
  texts[8] = '"Matrix adjustment method to compensate for ' +
              'amino acid composition of sequences." ' +
              '<a target="_blank" href="' + href +'">' +
              'more...</a> ' +
              '[<a href="#reference_1">1</a>]';
  //Tooltip for Filter low complexity regions
  elements[9] = 'filter_low_complexity_regions_qtip';
  titles[9] = 'Filter Low Complexity Regions';
  href = 'http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#filter';
  texts[9] = '"Mask regions of low compositional complexity that may cause ' +
             'spurious or misleading results." ' +
             '<a target="_blank" href="' + href + '">' +
             'more...</a> ' +
             '[<a href="#reference_1">1</a>]';
  //Tooltip for mask for lookup table only 
  elements[10] = 'use_soft_masking_qtip';
  titles[10] = 'Mask For Lookup Table Only';
  href = 'http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#Filter_Mask';
  texts[10] = '"Mask query while producing seeds used to scan database, ' +
             'but not for extensions." '+
             '<a target="_blank" href="' + href + '">' +
             'more...</a> ' +
             '[<a href="#reference_1">1</a>]';
  //Tooltip for mask lowercase letters
  elements[11] = 'use_lowercase_masking_qtip';
  titles[11] = 'Mask Lowercase Letters';
  href = 'http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#Mask_Lower';
  texts[11] = '"Mask any letters that were lower-case in the FASTA input." '+
             '<a target="_blank" href="' + href + '">' +
             'more...</a> ' +
             '[<a href="#reference_1">1</a>]';
    
  for (var i = 0; i < elements.length; i++){
    $('#' + elements[i])
          .removeData('qtip') 
          .qtip({
                  content: {
                          text: texts[i], 
                          title: {
                                  text: titles[i],
                                  button: true
                          }
                  },
                  position: {
                          my: 'left center',
                          at: 'right center' 
                  },
                  show: {
                          event: 'click', 
                          ready: false
                  },
                  hide: false,
                  style: {
                          classes: 'qtip-shadow qtip-' + 'light'
                  }
          });
  }
}
