<h1>QueryAnalysis#upload_main_menu</h1>
<p>Find me in app/views/query_analysis/upload_main_menu.html.erb</p>


    <h3>What type of data do you have?</h3>
    <input type="radio" name="data_type" value="reference_cuffdiff" />Reference Cuffdiff<br />
    <input type="radio" name="data_type" value="de-novo_cuffdiff" />De-novo Cuffdiff<br/>
    <input type="radio" name="data_type" value="edgeR" />EdgeR<br/>

