/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require qtip/jquery.qtip
 *= require_tree .
 */
 
.container {
  width: 710px;
}

.busy_indicator {
    width:  75px;
    height: 75px;
}

body {
  background: rgb(155,86,211);
}

#content {
    background: rgb(190,146,226);
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    padding:               3px;
    width: auto;
}

#header_title{
    display:inline;
    vertical-align:10%;
    padding:5px;
    font-size: 50pt;
}

header {
  width: auto;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  padding:               10px;
}

header img {
  width:75px;
  background: #fff;
}

footer {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  padding:               10px;
}

footer nav {
  float: none;
}

/* Links */

a, a:link, a:active{
    /*color: #09c;*/
    color: #000FFF;
    text-decoration: underline;
}
  
  /* Navigation */

nav {
  
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  width:auto;
  vertical-align: bottom;
  display:inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

a:visited {
  color: #50017C;
  text-decoration: underline;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

/*a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}*/

/* Round corners */

.rounded-corners {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


.sub-section {
     background-color:rgb(211,184,239)
}

.sub-section-heading{
  font-size:1.17em;
  font-weight:bold;
  text-align:center;
  padding-top:20px
}
/* User show page */

td {
    vertical-align:top
}

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions  {
  margin-bottom: 10px;
}

.field_with_errors  {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors  label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

//K-state style sheet
H1 {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-style: italic;
text-align: center;
font-size: 130%;
}
H2 {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 115%;
}
H3, H4, H5, H6 {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
A.mailto {
font-style: italic;
}
.accesskey {
text-decoration: underline;
}
A.nounder {text-decoration: none; color: black;}
A:focus {text-decoration: underline; color: blue;}
A:hover {text-decoration: underline; color: blue;}
A:active {text-decoration: underline; color: red;}

